<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login and Registration</title>
</head>
<body>
  <h1>Registration</h1>
  <form action="/register" method="POST">
    <p>fName<input type="text" name="fName"></p>
    <p>lName<input type="text" name="lName"></p>
    <p>mailz<input type="text" name="email"></p>
    <p>pass<input type="password" name="password"></p>
    <p>cPass<input type="password" name="cPassword"></p>
    <input type="submit" value="ALL HAIL HYPNO-TOAD">
  </form>

  <h1>Login</h1>
  <form action="/login" method="POST">
    <p>mailz<input type="text" name="email"></p>
    <p>pass<input type="password" name="password"></p>
    <input type="submit" value="Y NOT ZOIDBERG?">
  </form>
</body>
</html>
